<div layout="row" layout-padding layout-wrap layout-fill class="row-layout" ng-cloak>
    <md-whiteframe class="md-whiteframe-1dp" flex-sm="55" flex-gt-sm="45" flex-gt-md="35" layout layout-align="center center">
        <md-content layout-padding>
            <h3>Welcome to the Bliffoscope Images Analyzer! </h3>
            <md-content layout-padding>
                Click on "Problem Definition" to read about the Bliffoscope problem.
            </md-content>
            <md-content layout-padding>
                Navigate on "Bliffoscope Images Analyzer" to start using it!
            </md-content>
        </md-content>
    </md-whiteframe>
</div>